html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2b3951;
  padding-top: 3em;
}

h1 {
  color: #fff;
  background-color: #1a2230;
  text-align: center;
  padding: 1em;
  font-family: 'Contrail One', cursive;
}

.body {
  width: 320px;
}

.brain {
  width: 46px;
  position: absolute;
  top: 3.5em;
  left: 8.5em;
}

.left {
  width: 125px;
  position: absolute;
  right: 22em;
}

.right {
  width: 125px;
  position: absolute;
  right: 14em;
}

.robot {
  width: 320px;
}
